$whiteblue: #dce6f9;
$silverblue: #a3c1ff;
$midblue: #6782B8;
$borderblue: #2b4371;
$darkblue: #2b2d2f;


// Responsiveness
// The container horizontal gap, which acts as the offset for breakpoints
$gap: 32px !default
// 960, 1152, and 1344 have been chosen because they are divisible by both 12 and 16
$tablet: 769px !default
// 960px container + 4rem
$desktop: 960px + (2 * $gap) !default
// 1152px container + 4rem
$widescreen: 1152px + (2 * $gap) !default
$widescreen-enabled: true !default
// 1344px container + 4rem
$fullhd: 1344px + (2 * $gap) !default


@mixin touch {
  @media screen and (max-width: $desktop - 1px){
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

// color user selection
::selection {
  background: $whiteblue;
  color: $borderblue;
}


// cursor-related
@mixin no-pointer {
  pointer-events: none;
}

@mixin re-pointer {
pointer-events: all;
}

@mixin no-select {
user-select: none;
}

@mixin animate {
  transition: all ease-in-out 0.1s;
}