@import "lib.scss";

.form {

  .button.hover-icon {
    .icon{
      width: 0px;
      overflow: hidden;
      margin-left: 0.5em;
      @include animate;
    }
    
    &:hover .icon {
      width: 1.5em;
      margin-left: 0.25em;
    }
  }

  .field {
    // labels for inputs
    label.label {
      color: $silverblue;
      text-align: left;

    }
    
    // icons within inputs
    i {
     color: $midblue; 
    }

    .input, .textarea {
      background-color: $whiteblue;
      @include re-pointer;
    }

    .input,.textarea {
      color: $borderblue;
    }

    // and if field is focused...
    
    &:focus-within {
      .label {
        color: $whiteblue;
      }

      .input, .textarea {
        background: white;
      }
    }
  }
}