@import "lib.scss";

html {
  overflow: hidden;
}

body {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $darkblue;
  color: $silverblue;

  @include touch {
    font-size: 1rem;
  }
}

#particles-js {
  position: absolute;
  height: 100%;
  width: 100%;
  z-index: -200;
}

.wrap {
  position: relative;
  padding: 3em;
  display: flex;
  flex-direction: column;
  font-family: monospace;
  align-items: center;
  justify-content: center;

  @include desktop {
    top: -3em;
  }

}

.header {
  font-size: 1.75em;
  padding-bottom: 2em;

  @include no-select;
}

.main {
  align-self: center;

  .content {
    margin-bottom: 1em;
    text-align: center;
  }
}

.links {
  padding-top: 1em;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;


  .button {
    pointer-events: all;
    text-decoration: none;

    background: $whiteblue;
    color: $borderblue;
    position: relative;
    transition: background ease-in-out 0.2s,
      top ease-in-out 0.07s;
      user-select: none;
    top: 0;
    border: 1px solid $silverblue;

    &:after {
      transition: bottom ease-in-out 0.07s;
      position: absolute;
      bottom: -0.3em;
      left: -1px; // border thickness
      z-index: -10;
      display: flex;
      content: "";
      background: $silverblue;
      height: 1em;
      width: calc(100% + 2px);
      border-radius: 0 0 5px 5px;
    }

    &:hover {
      background: white;
    }

    &:active {
      top: 0.3em;

      &:after {
        bottom: 0;
      }
    }

    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}
